<body>
  <img src="%LOGOSRC%" alt="logo" class="logo">
  <p class="report-address">Mabayawas, Zone 4, Camagong</p>
  <p class="report-address-two">Oas, Albay, 4505</p>
  <p class="report-type">Inventory Report</p>
  <p class="report-date">Report Date : %DATEGENERATED%</p>
  <p class="report-period">Report Period : %REPORTPERIOD%</p>

  <table>
    <tr>
      <td class="table-header">Shoe Name</td>
      <td class="table-header">Unit Price</td>
      <td class="table-header">Unit Stocks</td>
      <td class="table-header">Discount</td>
    </thead>
    <tbody>
      %TABLEROWS%
    </tbody>
  </table>
</body>