<body>
  <img src="%LOGOSRC%" alt="logo" class="logo">
  <p class="report-address">Mabayawas, Zone 4, Camagong</p>
  <p class="report-address-two">Oas, Albay, 4505</p>
  <p class="report-type">Sales Report</p>
  <p class="report-date">Report Date : %DATEGENERATED%</p>
  <p class="report-period">Report Period : %REPORTPERIOD%</p>
  
  <table>
    <tr>
      <td class="table-header">Date</td>
      <td class="table-header">Shoe Name</td>
      <td class="table-header">Unit Sold</td>
      <td class="table-header">Unit Price</td>
      <td class="table-header">Total Sales</td>
    </tr>
    <tbody>
      %TABLEROWS%
      <tr>
        <td colspan="5" class="empty-td"></td>
      </tr>
      <tr>
        <td colspan="4" class="sales-td">Total Sales</td>
        <td class="total-sales-td">P%TOTALSALES%</td>
      </tr>
    </tbody>
  </table>
</body>